# Pandenomics

## The Bruhs' Progress Report

* Aleksandar Kartelyan
* Karan Shah
* Ramzi Rimawi
* Thomas Sobczak
* Ryan Thommes

## Project Introduction
The pandemic has caused inflation across the nation, thus increasing cost in all stages in production of goods. We analyzed different impacts the COVID-19 pandemic has had on the economy and the nation overall. As a group we discovered inflation and increased prices of goods and services affects everyone in the country from workers to businesses to everyday people. So our question is, How has the COVID-19 pandemic caused prices to increase in the US?

$\color{red}{\text{**ADD CHANGES?:**}}$

## Any Changes
(a discussion whether your scope has changed since the check-in proposal slides. What did you aim to do that you will not do and what have you added to the project?)

$\color{red}{\text{**TODO:**}}$

## Data Cleaning
### Show clearly how you cleaned your data

In [23]:
#TODO: code?

import pandas as pd
import numpy as np

data_cols = [
    'Year',
    'Jan',
    'Feb',
    'Mar',
    'Apr',
    'May',
    'Jun',
    'Jul',
    'Aug',
    'Sep',
    'Oct',
    'Nov',
    'Dec',
    'HALF1',
    'HALF2'
]

data = pd.read_csv("CPI-U.csv", names=data_cols)
data = data.iloc[1: , :]
data.drop(data.iloc[:, 13:15], inplace = True, axis = 1)
data = data.replace(r'^\s*$', np.nan, regex=True)
data

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
1,2000,168.8,169.8,171.2,171.3,171.5,172.4,172.8,172.8,173.7,174.0,174.1,174.0
2,2001,175.1,175.8,176.2,176.9,177.7,178.0,177.5,177.5,178.3,177.7,177.4,176.7
3,2002,177.1,177.8,178.8,179.8,179.8,179.9,180.1,180.7,181.0,181.3,181.3,180.9
4,2003,181.7,183.1,184.2,183.8,183.5,183.7,183.9,184.6,185.2,185.0,184.5,184.3
5,2004,185.2,186.2,187.4,188.0,189.1,189.7,189.4,189.5,189.9,190.9,191.0,190.3
6,2005,190.7,191.8,193.3,194.6,194.4,194.5,195.4,196.4,198.8,199.2,197.6,196.8
7,2006,198.3,198.7,199.8,201.5,202.5,202.9,203.5,203.9,202.9,201.8,201.5,201.8
8,2007,202.416,203.499,205.352,206.686,207.949,208.352,208.299,207.917,208.490,208.936,210.177,210.036
9,2008,211.080,211.693,213.528,214.823,216.632,218.815,219.964,219.086,218.783,216.573,212.425,210.228
10,2009,211.143,212.193,212.709,213.240,213.856,215.693,215.351,215.834,215.969,216.177,216.330,215.949
11,2010,216.687,216.741,217.631,218.009,218.178,217.965,218.011,218.312,218.439,218.711,218.803,219.179
12,2011,220.223,221.309,223.467,224.906,225.964,225.722,225.922,226.545,226.889,226.421,226.230,225.672
13,2012,226.665,227.663,229.392,230.085,229.815,229.478,229.104,230.379,231.407,231.317,230.221,229.601
14,2013,230.280,232.166,232.773,232.531,232.945,233.504,233.596,233.877,234.149,233.546,233.069,233.049
15,2014,233.916,234.781,236.293,237.072,237.900,238.343,238.250,237.852,238.031,237.433,236.151,234.812
16,2015,233.707,234.722,236.119,236.599,237.805,238.638,238.654,238.316,237.945,237.838,237.336,236.525
17,2016,236.916,237.111,238.132,239.261,240.229,241.018,240.628,240.849,241.428,241.729,241.353,241.432
18,2017,242.839,243.603,243.801,244.524,244.733,244.955,244.786,245.519,246.819,246.663,246.669,246.524
19,2018,247.867,248.991,249.554,250.546,251.588,251.989,252.006,252.146,252.439,252.885,252.038,251.233
20,2019,251.712,252.776,254.202,255.548,256.092,256.143,256.571,256.558,256.759,257.346,257.208,256.974
21,2020,257.971,258.678,258.115,256.389,256.394,257.797,259.101,259.918,260.280,260.388,260.229,260.474
22,2021,261.582,263.014,264.877,267.054,269.195,271.696,273.003,273.567,274.310,276.589,277.948,278.802
23,2022,281.148,283.716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Exploratory Data Analysis
(Explain what your data looks like (words are fine, but
visualizations are often better). Include any interesting issues or preliminary
conclusions you have about your data.)

$\color{red}{\text{**TODO:**}}$

## At Least One Visualization
(that tests an interesting hypothesis, along with an
explanation about why you thought this was an interesting hypothesis to
investigate.)

In [ ]:
#TODO: code visualization

## At Least One ML Analysis
(on your dataset, along with a baseline comparison
and an interpretation of the result that you obtain.)

$\color{red}{\text{**TODO:**}}$

## Reflection
### A discussion of the following:
* What is hardest part of the project that you’ve encountered so far?
* What are your initial insights?
* Are there any concrete results you can show at this point? If not, why not? 
* Going forward, what are the current biggest problems you’re facing?
* Do you think you are on track with your project? If not, what parts do you need to dedicate more time to?
* Given your initial exploration of the data, is it worth proceeding with your project, why? If not, how are you going to change your project and why do you think it’s better than your current results?

$\color{red}{\text{**TODO:**}}$

## Next steps
(What you plan to accomplish in the next month and how you plan to evaluate whether your project achieved the goals you set for it.)

$\color{red}{\text{**TODO:**}}$